body {
    font-family: "Poppins", sans-serif;
    background-image: url("../imagens/background.jpg");
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(8px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gemas {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.cartao-gema {
    display: none;
    max-width: 360px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-gema.aberto {
    display: block;
}

.cartao-gema img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.cartao-gema .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-gema .nome {
    margin-bottom: 5px;
}

.cartao-gema .tipo {
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    padding: 2px 10px;
}

.cartao-gema .detalhes {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-gema .cartao-informacoes {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-gema .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-informacoes .descricao {
    padding: 0 10px;
    font-size: 15px;
    max-height: 150px;
    overflow-y: scroll;
}

.tipo-fosfofilita {
    background-color: #49d0b0;
}

.tipo-cinabrio {
    background-color: #9b333c;
}

.tipo-bort {
    background-color: #4B4B4B;
}

.tipo-antarcitite {
    background-color: #A9D3E0;
}

.tipo-diamond {
    background-color: #4A4E69;
}

.tipo-yellow-diamond {
    background-color: #FFD700;
}

.listagem {
    max-width: 200px;
}

.listagem .gema img {
    width: 25%;
}

.listagem .gema {
    background-color: #6b7274;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    transition: 0.15 ease-in-out;
}

.listagem .gema:hover {
    transform: scale(1.05);
}

.listagem .gema span {
    padding-right: 20px;
}

.listagem .gema.ativo {
    background-color: #fa6668;
}